# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\niven\Insync\nivend089a@gmail.com\Google Drive\Curso\Platzi\Curso Python Platzi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
